Summary: {{bug.bug_summary}}<br \><br \><br \>
Description: {{bug.bug_desc}}<br \><br \><br \>
Category: {{bug.bug_category}}<br \><br \><br \>
Severity: {{bug.bug_severity}}<br \><br \><br \>
Status: <select name="status">
    <option value="unassigned">Unassigned</option>
    <option value="assigned">Assigned</option>
    <option value="waiting_for_response">Waitlist</option>
    <option value="dropped">Dropped</option>
</select>

<!-- Status: <input type="radio" name="assigned"> Assigned  <input type="radio" name="waiting_for_response"> Waiting for Response  <input type="radio" name="dropped"> Package out of Date -->