<!DOCTYPE html>

<html>

    <head>
    </head>

    <body>
        <input type="text" name="first_name" placeholder="First Name"><br \>
        <input type="text" name="last_name" placeholder="Last Name"><br \>
        <input type="text" name="Username", placeholder="Username"><br \>
        <input type="password" name="Password", placeholder="Password"><br \>
        <input type="password" name="Password", placeholder="Confirm Password"><br \>
        <input type="email" name="Email", placeholder="Email"><br \>
        <input type="radio"> Agree to the Terms and Conditions<br \>
        <input type="checkbox"> Remember me<br \>
        <a href=""><button>Sign Up</button></a><br \>
        Have an Account? <a href="{% url 'main:login' %}"><button>Login</button></a><br \>
    </body>

</html>